@charset "utf-8";


@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}


@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}


* {margin: 0; padding: 0; box-sizing: border-box;}
ul, ol {list-style: none;}
a {text-decoration: none; color: #333;}

body {font-family: 'pretendard';}
.container {width: 1200px; height: 100%; margin:0 auto; background-color: #aaa;}

/* header */
header{width: 100%; height: 165px; background-color: gold;}
.header_top {width: 100%; height: 50%; display:flex; justify-content:center; align-items:center; background-color: pink;}

.logo {width:300px; height: 100%; background-color: green;}
.logo img {width:200px; height: 80px;}

.h_right {width: 520px; height: 54px; display: flex; justify-content: space-between; background-color: yellow;}

.search {width: 600px; height: 100%; display: flex; justify-content: center; align-items: center; background-color: plum;}
.search input {width: 489px; height: 50px; border: none; color: gray; font-size: 14px; border-radius: 5px 0 0 5px; padding-left: 20px; outline: none; border: 1px solid gray;}
.search button {width: 90px; height: 50px; font-size: 20px; border-radius: 0 5px 5px 0; background-color: #62ab00;}
.header_seach_button {color: #fff; border: none;}
.search button:hover {background: black;}

.mypage {width: 300px; height: 100%; background-color: red;}
.mypage {font-size: 26px; display: flex; align-items: center; justify-content: flex-end; }
.money {width: 45%; color: #62ab00; line-height: 14px; cursor: pointer;}

.setting {width: 20%; cursor: pointer; position: relative;} 
.setting:hover{color: #62ab00;}
.setting_content {width: 300px; height: 500px; background-color: #ccc; position: absolute; top:50px; right: 0; z-index: 2; display:none;}



nav {height: 82px; background-color: aquamarine;}
nav ul{display: flex;  align-items: center; width: 900px; height: 100%; gap: 20px; margin-left: 25%; font-size: 16px;}
nav_






/* footer */
footer {width: 100%; height: 350px; background-color: orange;}






